{% from "@SyliusAdmin/Macro/translationForm.html.twig" import translationForm %}

<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ form_errors(form) }}
            <div class="ui two column stackable grid">
                <div class="column">
                    <div class="ui segment">
                        {{ form_row(form.code) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.priority) }}
                        {{ form_row(form.enabled) }}
                        {{ form_row(form.channels) }}
                    </div>
                </div>
                <div class="column">
                    <div class="ui segment">
                        {{ form_row(form.startsAt) }}
                        {{ form_row(form.endsAt) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'setono_sylius_callout.form.callout.layout'|trans }}</h4>

            <div class="ui two column stackable grid">
                <div class="column">
                    <div class="ui segment">
                        {{ form_row(form.elements) }}
                        {{ form_row(form.position) }}
                    </div>
                </div>
                <div class="column">
                    <div class="ui segment">
                        {{ form_row(form.color) }}
                        {{ form_row(form.backgroundColor) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'setono_sylius_callout.form.callout.rules'|trans }}</h4>
            <div class="ui icon info message" style="max-width: fit-content">
                <i class="info circle icon"></i>
                {{ 'setono_sylius_callout.form.callout.rules_info'|trans }}
            </div>
            <div class="field" id="rules">
                {{ form_widget(form.rules) }}
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            <div class="ui one column stackable grid">
                <div class="column">
                    <div class="field">
                        {{ translationForm(form.translations, resource) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if get_callout_assignment_delay() > 0 %}
    <div class="ui icon info message" style="max-width: fit-content;">
        <i class="info circle icon"></i>
        {{ 'setono_sylius_callout.ui.delay_info'|trans( { '%seconds%': get_callout_assignment_delay() }) }}
    </div>
{% endif %}
